
<h1><%= @activity.name %></h1>
<p><u>Participant Count</u>: <%= @activity.participants %></p>
<p><u>Type of Activity</u>: <%= @activity.type %></p>
<p><u>Cost Scale</u>: <%= @activity.price %></p>
<p><u>Accessibility Scale</u>: <%= @activity.accessibility %></p>
